.sbtn {
    outline: none;
    background-color: #3c03b7;
    transition: box-shadow 0.5s;
    font-family: arial;
    color: #fff;
    cursor: pointer;
}

.sbtn:hover {
    -webkit-box-shadow: inset 100px 0 0 0 #3c03b7;
    box-shadow: inset 100px 0 0 0 #3c03b7;
}