.linkItem {
    font-size: 26px;
    font-weight: 500;
    color: #565966;
    position: relative;
    padding-top: 40px;
    padding-bottom: 10px;
}

.linkItem::after {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #5833c8;
    width: 0%;
    height: 4px;
    content: "";
    transition: 0.5s;
}

.linkItem:hover::after {
    width: 100%;
}

.linkItem:hover {
    color: #5833c8;
}