.ep-input{
  border: 1px solid black;
  width: 80%;
}
.ep-form{
  width: 100%;
  align-items: center;
justify-content: center;
}
.ep{
  width: 90%;
}
.name-input{
  width: 100px;
  margin-left: 20%;
}

.extraction-navbar{
  font-size: 18px;
    font-weight: 500;
    color: #565966;
    position: relative;
    padding-top: 40px;
    padding-bottom: 10px;
    margin: 20px;
    background-color: transparent;
}
.extraction-navbar::after {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #2d02b1;
  width: 0%;
  height: 4px;
  content: "";
  transition: 0.5s;
}

.extraction-navbar:hover::after {
  width: 100%;
}

.extraction-navbar:hover {
  color: #5833c8;
}

.active-link{
  color: red;
}