.ep-input {
  border: 1px solid black;
  width: 80%;
}

.ep-form {
  width: 90%;
}

.ep {
  width: 90%;
}

.ep-formI {
  justify-content: start;
  align-items: flex-start;
  position: relative;
  left: 0;
  top: 20%;
}

.ep-formI {
  width: 90%;
}

.ep-inputI {
  border: 1px solid black;
  width: 80%;
}

.epI {
  width: 90%;
}

.name-input {
  width: 100px;
}

.btn-src {
  height: 35px;
  width: 70px;
  margin: 10px;
  padding: 5px;
}

/* Extraction  */

.extraction-navbar {
  font-size: 17px;
}

.extraction-navbar.active {
  padding-bottom: 8px;
  color: rgb(30, 52, 162);
  font-weight: 500;
  border-radius: 1px;
  font-size: 17px;
  border-bottom: 5px solid rgb(30, 52, 162);

}

/* Progressbar CSS */
.modal-box {
  width: 80%;
  max-width: none;
}

.progressbar {
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  background-color: #010a0f;
}

.progressPercent {
  font-weight: 600;
  font-family: "Franklin Gothic Medium";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #eee;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}

.ebtn {
  display: flex;
  margin: 10px auto;
  border: none;
  border-radius: 3px;
  outline: none;
  width: 150px;
  height: 40px;
  background-color: #3c03b7;
  transition: box-shadow 0.5s;
  font-size: 15px;
  font-family: arial;
  color: #fff;
  cursor: pointer;
}

.ebtn:hover {
  -webkit-box-shadow: inset 100px 0 0 0 #3c03b7;
  box-shadow: inset 100px 0 0 0 #3c03b7;
}

.pcircle {
  background-color: #fff;
  color: rgb(24, 11, 126);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #e0e0e0;
  transition: 0.4s ease;
}

.progressbar_modal {
  position: absolute;
  width: 80%;

  display: flex;
  justify-content: space-between;
  padding-inline: 25px;
}

.progress_button {
  text-align: center;
  width: 10%;
  height: fit-content;
  background-color: skyblue;
  border-radius: 5px;
  padding: 5px 15px;
  color: white;
}

.progress_initiate {
  background-color: #4a4af1;
}

.progress_running {
  background-color: #f5f542;
  color: #010a0f;
}

.progress_complete {
  background-color: #7fbe21;
  color: #010a0f;
}

.modal_close_btn {
  position: absolute;
  right: -10px;
}