.ep-input{
  border: 1px solid black;
  width: 80%;
}
.ep-form{
  width: 100%;
  align-items: center;
justify-content: center;
}
.ep{
  width: 90%;
}
.name-input{
  width: 100px;
  margin-left: 20%;
}
.toast{
  height: 200px;
  width: 200px;
}