.transformation_button{
  display: flex;
  margin: 40px auto;
  border: none;
  border-radius: 3px;
  outline: none;
  width: 150px;
  height: 40px;
  background-color: #3c03b7;
  transition: box-shadow 0.5s;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
}

.transformation_button:hover {
  -webkit-box-shadow: inset 100px 0 0 0 #3c03b7;
  box-shadow: inset 100px 0 0 0 #3c03b7;
}