.ep-input {
  border: 1px solid black;
  width: 100%;
}

.ep-form {
  width: 100%;
}

.extraction_profile {
  width: 700px;
}

.ep-formI {
  justify-content: start;
  align-items: flex-start;
  position: relative;
  left: 0;
  top: 20%;
}

.name-input {
  width: 100px;
}

.btn-src {
  height: 35px;
  width: 70px;
  margin: 10px;
  padding: 5px;
}
.ebtn {
  display: flex;
  margin: 10px auto;
  border: none;
  border-radius: 3px;
  outline: none;
  width: 150px;
  height: 40px;
  background-color: #3c03b7;
  transition: box-shadow 0.5s;
  font-size: 15px;
  font-family: arial;
  color: #fff;
  cursor: pointer;
}

.ebtn:hover {
  -webkit-box-shadow: inset 100px 0 0 0 #3c03b7;
  box-shadow: inset 100px 0 0 0 #3c03b7;
}

.Input_Gap_allinformation{
  padding: 40px;
  margin-left: 30px

}
