.pcontainer{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
}

.pcontent{
  align-items: center;
  width: 300px;
}

.pprogressbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 20%;
  right: 70%;
  width: 800px;
}
.pprogressbar::before{
  content: "";
  position: absolute;
  background-color: #e0e0e0;
  top: 50%;
  left: 0;
  transform:translateY(-50%) ;
  border-radius: 5px;
  height: 4px;
  width: 100%;
  z-index: -1;
  transition: 0.4s ease;
}
.pprogress{
  position: absolute;
  background-color: #3498db;
  top: 50%;
  left: 0;
  transform:translateY(-50%) ;
  border-radius: 5px;
  height: 4px;
  width: 50%;
  z-index: -1;
  transition: 0.4s ease;

}
.pcircle{
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #e0e0e0;
  transition: 0.4s ease;
}

.pcircle.active{
  border-color: #3498db;
}
.pbutton{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 30%;
  position: relative;
}
.btnn{
  padding: 5px 20px;
  outline-style: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  border: 0;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  width: 150px;
  height: 40px;
  background-color: #3c03b7;
  transition: box-shadow 0.5s;
  font-family: arial;
}
.btnn:hover{
  -webkit-box-shadow: inset 100px 0 0 0 #3c03b7;
  box-shadow: inset 100px 0 0 0 #3c03b7;
}
.btnn.active{
  transform: scale(0.98);
}
.btnn.focus{
  outline: none;
}
.btnn.disabled{
  background-color: #999;
  cursor: not-allowed;
}

